body {
  padding-top: 40px;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}

.divider{
    width:1px;
    height:auto;
    display:inline-block;
}
.buttonBlock{
    width:auto;
    height:auto;
    display:inline-block;
   float: right;
}
